* {
	box-sizing: border-box;
	font-family: 'Lucida Console';
}

body {
	margin: 0;
	height: 100%;
	width: 100%;
}

main {
	background: white; 
	width: 100%;
	min-height: 100%;
}

header {
 	width: 100%;
 	min-height: 50px;
 	background: black;
 	color: white;
 	text-align: center;
	padding: 10px 20px;
}

header h1 {
	margin: 0;
}

.login {
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
	padding: 10px;
}

.github {
	background: url(../assets/Github.png) no-repeat center center / cover;	
}

.facebook {
	background: url(../assets/Facebook.png) no-repeat center center / cover;	
}

.twitter {
	background: url(../assets/Twitter.png) no-repeat center center / cover;	
}

.google {
	background: url(../assets/Googleplus.png) no-repeat center center / cover;	
}

.authButton {
	width: 100px;
	height: 100px;
	border: 0;
	outline: none;
	margin: 0 auto;
	border-radius: 20px;
	background-color: hsla(168, 77%, 42%, 0.5);
}

.authButton::focus {
	outline: 0;
}

.authButton:hover {
	background-color: hsla(168, 77%, 42%, 1);
}

button {
	margin: 0 auto;
}

form {
	display: block;
}

fieldset {
	padding: 0;
	border: none;
	margin: 0;
}

.waypoint {
	width: 50%;
	border: none;
	padding: 0 30px;
}

.checkpointContainer {
	padding: 0 30px;
}

.checkpoint {
	width: 100%;
	margin-bottom: 20px;
}

.checkpointTitle {
	padding: 15px 30px;
	background-color: hsla(0, 0%, 80%, 1);
	margin-bottom: 20px;
}

.checkpoint h3 {
	display: inline-block;
	margin: 0;
}

.checkpointProperties {
	padding: 0 30px;
	width: 50%;
	display: inline-block;
}

.resourcesContainer {
	padding: 0 30px;
	width: 50%;
	float: right;
	display: inline-block;
}	

.resource {
	padding: 0 10px 10px 10px;
	margin-bottom: 20px;
	background-color: hsla(168, 77%, 42%, 0.5);
	border: none;
}


textarea, input {
	display: inline-block;
	background-color: hsla(0, 0%, 90%, 0.5);
	width: 100%;
	height: 3em;
	border: none;
	padding: 0.5em;
	display: block;
	font-size: 1em
}

textarea {
	resize: none;
	height: 10em;
}

textarea:focus, 
input:focus{
    outline: 0;
}

.utility {
	height: 50px;
	width: 50px;
	margin: 0 auto;
	display: block;
	border-radius: 50%;
	background-color: hsla(0,100%,100%,1);
}

.utility:hover {
	background-color: hsla(168, 77%, 42%, 0.5);
}

.utility:focus {
	outline: none;
}

.hide {
	float: right;
}










 /*waypointslist old*/

.WaypointsList {
	background: lightblue;
	width: 200px; 
}

.waypointInList {
	background: blue;
}


/* clearfix */

.cf:before,
.cf:after {
    content: " ";
    display: table; 
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}