.test {
	background: red;
}

.siteContainer {
	background: lightgrey; 
	width: 800px;
	padding: 10px; 
	margin: 0 auto;
}

.waypointsList {
	background: lightblue;
	width: 200px; 
	float: left;
}

.waypoint {
	background: blue;
	margin-left: 10px;
}

.checkpointsView {
	background: lightgreen;
	width: 500px;
	margin-left: 50px; 
	display: inline-block;
}

.checkpoint {
	background: green; 
	margin-left: 10px;
}

.resource {
	background: darkgreen;
	margin-left: 10px;
}

textarea, input {
	display: inline-block;
	background: lightgreen;
	min-width: 50px;
	border: none;
}

textarea:focus, 
input:focus{
    outline: 0;
}




/* clearfix */

.cf:before,
.cf:after {
    content: " ";
    display: table; 
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}